body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-style: 1px white;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #1f2937;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1f2937;
    color: white;
}

.main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

.main-1 .left-side {
    display: flex;
    flex-direction: column;
}