body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    height: 35px;
    width: 125px;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #1f2937;
    color: white;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1f2937;
    color: white;
}

.main-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

.main-1 img {
    max-width: 400px;
    padding: 40px;
}

.main-1 .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
}

.main-1 .head {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-height: 70px;
}

.main-1 .text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 40px;
    gap: 20px;
}

.main-2 img {
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-left: 13px;
}

.main-2 .flex-wrap {
    max-width: 200px;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    text-align: center;
    max-height: 20px;
}

.main-3 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 40px;
}

.main-3 .flex-wrap {
    max-width: 900px;
}

.main-3 .quote {
    font-size: 36px;
    font-style: italic;
}

.main-3 .text {
    text-align: right;
    font-weight: bold;
    color: #333333;
}

.main-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 40px 80px;
    color: #f9faf8;
}

.main-4 .button {
    border: 2px solid white;
}

.main-4 .head {
    font-size: 20px;
    font-weight: 600;
    max-height: 10;
}

